
$font-source: 'Source Sans Pro', Arial, sans-serif;
$font-open: 'Open Sans', Arial, sans-serif;

$color-white: #fff;
$color-title: #333b46;
$color-subtitle: #81868e;
$color-green: #19bd9a;
$color-grey: #464646;

